.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 20px 25px;
    background-color: rgb(145, 230, 202);

}
.list{
    display: flex;
    justify-content: center;
    
}
.list li{
    position: relative;
    margin: 0% 25px;
   
}
.list a{
    color: black;
    text-decoration: none;
}
.list a:hover{
color: red;
text-decoration: underline;
}
.menu img{
    width: 150px;
    transition: transform 0.3s ease;
}
.menu img:hover{
    transform: scale(1.05);
}
.button{
    background-color: aqua;
    cursor: pointer;
    padding: 15px 10px;
    transition: transform 0.3s ease;
}
.button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 6px  4px black;
}